@import "variables";
@import "mixins";

/* Fuente para títulos */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, $colorPrincipal, white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Estilos Header y Nav
header {
  height: 150px;
  width: 100%;
  background-size: cover;
  .logo {
    width: 180px;
    height: 150px;
  }
  .navbar-toggler,
  .navbar-toggler-icon {
    background-color: white;
  }
  .nav-link {
    display: inline;
    margin-right: 20px;
    font-family: "Baskervville", serif;
    color: $colorSecundario;
    font-size: 20px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    background-color: $colorPrincipal;
    .navbar-nav {
      display: flex;
      flex-direction: row;
      margin-top: 100px;

      .nav-link {
        text-decoration: none;
        margin: 10px 10px 0;
        color: $colorSecundario;
      }
    }
    margin-left: auto;
  }
}
// Estilos titulo principal y párrafo
.titulo-principal {
  @include estilos-titulo;
  color: $colorSecundario;
  font-size: 40px;
}
.parrafo-principal,
.parrafo-secundario {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

// Estilo de Imagen Principal
.contenedor-principal {
  display: flex;
  justify-content: center;
  img {
    width: 75%;
    height: auto;
  }
}

// Estilos Footer
.site-footer {
  background-color: $colorPrincipal;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: fixed;
  p {
    margin: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }
  .social-icons {
    margin-top: 20px;
    a {
      text-decoration: none;
      color: $colorSecundario;
      font-size: 25px;
      margin-right: 20px;
      padding: 0px 15px;
    }
  }
  .quick-links {
    margin-top: 30px;
    float: right;
  }
}

// Estilos HTML Acerca de Nosotros
// Estilos Grid
.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 100px;
}

// Estilos Cards
.card {
  @include estilos-card;
  &-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    height: auto;
  }
  &-body {
    padding: 1rem;
    p {
        font-size: 10px;
        color: #333;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
  }
}

h2 {
  @include estilos-titulo;
  font-family: "Montserrat", sans-serif;    
}

